html, body{
    background: #f9f9f9;
    margin:0;
    padding:0;
    font-family: sans-serif;
}

header{
    background: #FFF;
    padding: 5px 0;
    box-shadow: 2px 2px 2px #CCC;
    position: absolute !important;
    top: 0;
    width: 100%;
}

a{
    text-decoration: none;
    color: #555;
}

.color-principal{
    color:#5280e6;
}

.color-secondary{
    color:#e65d4b;
}

.page{

}

.page-center{
    margin-top: 70px;
    display: -ms-flexbox; /* will work on IE10 */
    display: flex; /* is new syntax, will not work on IE10 */
}

.center{
    width: 100%;
}

.contain{
    margin: 50px;
}

.section{
    display: -ms-flexbox; /* will work on IE10 */
    display: flex; /* is new syntax, will not work on IE10 */
    -ms-flex-pack: justify;/* will work on IE10 */
    -ms-flex-pack: space-between;/* will work on IE11 */
    justify-content: space-between;
    align-items: center;
}

.section-item{
    margin-left: 20px;
}

.section-column:last-child .section-item{
    margin-right: 20px;
}

.section-column{
    width: 25%;
    float: left;
    /*display: -ms-flexbox; /* will work on IE10 */
    /*display: flex; /* is new syntax, will not work on IE10 */
    flex-flow: wrap;
}

.section-column:nth-child(2){
    width: 50%;
}

.float_content{
    overflow: hidden;
}

.section-column .box.middle{
    width: calc(50% - 20px);
    float: left;
}

.box{
    background: #FFF;
    margin-bottom: 20px;
}

.box .box-title{
    padding: 10px;
    border-bottom: 1px solid #EEE;
    display: -ms-flexbox; /* will work on IE10 */
    display: flex; /* is new syntax, will not work on IE10 */
    -ms-flex-pack: justify;/* will work on IE10 */
    -ms-flex-pack: space-between;/* will work on IE11 */
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
}

.box .box-title span{
    color: #CCC;
    font-size: 12px;
    font-weight: lighter;
}

.box .box-content{
    padding: 25px 10px;
}

.box .box-content.number{
    text-align: right;
    font-size: 30px;
}

.currency:after{
    content: "\20AC";
}

.box .box-footer{
    padding: 5px 10px;
    display: -ms-flexbox; /* will work on IE10 */
    display: flex; /* is new syntax, will not work on IE10 */
    -ms-flex-pack: justify;/* will work on IE10 */
    -ms-flex-pack: space-between;/* will work on IE11 */
    justify-content: space-between;
    font-size: 10px;
    color: #CCC;
}

.box-icon{
    color: #FFF;
    background: #5280e6;
    border-radius: 50%;
    width: 33px;
    margin: 10px;
    padding: 0px;
    text-align: center;
    display: inline-block;
    transition: all .5s;
}

.box-icon.square{
    color: inherit;
    background: transparent;
    border-radius: 5px;
}

.box-icon.square.button,
.box-icon.square:hover,
.box-icon.square.selected{
    background: #5280e6;
}

.box-icon.square.button .icon,
.box-icon.square:hover .icon,
.box-icon.square.selected .icon{
    color: #FFF;
}

.box-icon.square.button{
    padding: 5px;
    width: auto;
}

.box-icon.square.button .icon{
    font-size: 12px;
}

.icon{
    padding:5px;
    font-size: 25px;
    color: #555;
    display: inline-block;
    transition: all .5s;
    cursor: pointer;
}

.icon.grey{
    color: #555;
}

.menu-lateral{
    background: #efefef;
}

.menu-lateral .menu-item{
    width: calc(100% - 24px);
}

select{
    padding: 8px 20px 8px 5px;
    border: 1px solid #DDD;
    border-radius: 5px;
}

small{
    font-size: 12px;
}

.list{
    list-style: none;
    color: #FFF;
    font-size: 15px;
}

.list-item{
    padding: 5px;
}

.bar{
    text-align: right;
    margin-bottom: 10px;
}

.bar-text{
    font-size: 12px;
    color: #CCC;
    float: left;
}

.bar-detail{
    font-size: 10px;
}

.bar-progress{
    height: 10px;
    background: #5280e6;
    border-radius: 2px;
}

table thead th{
    padding: 10px;
    border: none;
    border-bottom: 2px solid #EEE;
    background: #F6f6f6;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
}


table{
    width: 100%;
}

table tbody td{
    padding: 10px;
    font-size: 12px;
    color: #555;
    border-bottom: 1px solid #EEE;
}

table tfoot td{
    padding: 30px;
    font-size: 12px;
}

table .navigate .icon{
    font-size: 12px;
}

table tr th:nth-child(n+9),
table tr td:nth-child(n+9){
    display: table-cell  !important;
}


.box-input {
    padding: 5px 15px;
    width: calc(50% - 34px);
    display: inline-block;
}

label {
    color: #555;
    font-size: 12px;
    font-weight: bold;
    display: block;
}

input {
    border: 1px solid #CCC;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
    width: calc(100% - 20px);
}

.schedule .box-input{
    margin: 2px 0;
    background: #f9f9f9;
}


@media (max-width: 768px) {
    .section-boxes{
        display: block;
    }

    .section-column {
        width: calc(100% - 20px) !important;
    }

    .box {
        width: calc(50% - 20px);
    }

    .box-chart {
        width: 100%;
    }

    .section-column:last-child .section-item {
        margin-right: 0;
        width: 100%;
    }

    table tr th:nth-child(n+5),
    table tr td:nth-child(n+5){
        display: none;
    }
}


@media (max-width: 600px) {
    .page-center {
        margin-top: 125px;
    }

    header.section > div {
        display: inline-block;
    }

    header.section > div:nth-child(2){
        float: right;
    }

    header.section > div:nth-child(3){
        text-align: center;
        width: 100%;
    }

    .section{
        display: block
    }

    .box {
        width: calc(100% - 20px) !important;
    }

    .box-input {
        width: calc(100% - 34px);
    }

    table tr th:nth-child(n+3),
    table tr td:nth-child(n+3){
        display: none;
    }

    table tbody td,
    table tfoot td{
        padding: 10px 0;
    }
}